html {
  scroll-behavior: smooth;
}

.skill-card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #06b6d4;
  font-weight: bold;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.project-card {
  background: #111;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #06b6d4;
  margin-bottom: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}